################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/poc-sonarqube/FileContentIndex
/.vs/slnx.sqlite
