################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/poc-sonarqube/FileContentIndex
/.vs/slnx.sqlite
/poc.sonarqube.console/bin/Debug/net8.0
